main.home {
    @include size(full);
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-auto-rows: 1fr;
    place-content: center;
    column-gap: 5%;
    //barra buscadora
        .buscador {
            grid-column: 1 / 3;
        }
        .wts {
            grid-column: 1 / 2;
            
            .wantTo {
                @include wantTo();
            }
        }
        .wtb {
            grid-column: 2 / 3;
            
            .wantTo {
                @include wantTo();
            }
        }
}